* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: actor-r;
  src: url(../fonts/Actor-Regular.ttf);
}

@font-face {
  font-family: actor-b;
  src: url(../fonts/Actor-Regular.woff2);
}

h1, h2, h3, h4, h5, h6{
  font-family: actor-b;
}

p, a, button, ul, li, label, span {
  font-family: actor-r;
}

body {
  background-color: #adadad;
  height: 100%;
}

.form-section {
  background-color: #E7E7E6;
  padding: 150px 200px;
  max-width: 100%;
  border-radius: 50px 50px 0 0;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1920px;
}

.breadcrumbs {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
  position: relative;
  margin-bottom: 40px;
  inset: -20px 0 0 0;
  display: flex;
  align-self: baseline;
}

.breadcrumbs-link{
  color: #000;
  text-decoration: none;
  margin-right: 10px;
}

.current-page {
  color: #fdc70d;
  font-weight: bold;
  margin-left: 10px;
}

.citizen-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 1520px;
  background-color: #fff;
  padding: 20px;
  position: relative;
  top: -20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.form-input {
  width: 100%;
  max-width: 1480px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f0f0f0;
}

.form-input:focus {
  border-color: #fdc70d;
  outline: none;
}

.form-input:invalid {
  border-color: #ff0000;
  outline: none;
}

.form-textarea {
  width: 100%;
  max-width: 1480px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  resize: none;
  height: 150px;
  background-color: #f0f0f0;
}

.form-textarea:focus {
  border-color: #fdc70d;
  outline: none;
}

.form-textarea:focus {
  border-color: #ff0000;
  outline: none;
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.file-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #000;
  background-color: #ffc600;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 20px;
}

.file-input {
  display: none;
}

.file-icon {
  font-size: 20px;
}

#fileInput-button{
  display: none;
}

.checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 16px;
}

#privacy-policy{
  width: 32px;
  height: 32px;
}

#privacy-policy:invalid{
  border: 1px solid #ff0000;
}

.policy-link {
  color: #fdc70d;
  text-decoration: none;
}

.policy-link:hover {
  text-decoration: underline;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: #ffc600;
  width: 20px;
  height: 20px;
}

.policy{
  position: relative;
  top: 6px;
}

.submit-button {
  max-width: 345px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  background-color: #fdc70d;
  border: none;
  border-radius: 500px;
  cursor: pointer;
  color: #333;
  text-align: center;
}

.submit-button:hover {
  background-color: #ffb400;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  top: -8px;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
}

@media (max-width: 1200px) {

  .nav-list li a {
    font-size: 18px;
  }

  .form-section {
    padding: 80px 50px;
  }

  .citizen-form {
    width: 90%;
    max-width: 1200px;
    padding: 15px;
  }

  .form-input, .form-textarea {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .form-section {
    padding: 80px 50px;
  }

  .breadcrumbs {
    font-size: 24px;
  }

  .citizen-form {
    width: 100%;
    padding: 10px;
  }

  .form-input, .form-textarea {
    font-size: 14px;
    padding: 10px;
  }

  .submit-button {
    font-size: 16px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .form-section {
    padding: 50px 20px;
  }

  .breadcrumbs {
    font-size: 20px;
    top: -10px;
  }

  .citizen-form {
    gap: 10px;
    padding: 10px;
  }

  .form-input, .form-textarea {
    font-size: 12px;
    padding: 8px;
  }

  .submit-button {
    font-size: 14px;
    padding: 8px;
  }
}
